
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, viewport-fit=cover">
<title>PPTX Viewer</title>

<link rel="stylesheet" href="../libs/pptxjs/pptxjs.css" />
<link rel="stylesheet" href="viewer.css" />

<script src="../libs/pptxjs/jquery-1.11.3.min.js"></script>

<script src="../libs/pptxjs/jszip.min.js"></script>
<script src="../libs/pptxjs/d3.min.js"></script>
<script src="../libs/pptxjs/nv.d3.min.js"></script>

<script src="../libs/pptxjs/filereader.js"></script>
<script src="../libs/pptxjs/divs2slides.min.js"></script>
<script src="../libs/pptxjs/jquery.fullscreen-min.js"></script>

<script src="../libs/pptxjs/pptxjs.js"></script>
</head>

<body>

<div id="viewerWrapper">
    <div id="scaleContainer">
        <div id="viewer"></div>
    </div>
</div>
 
<button id="fsBtn">⛶</button>

<script src="viewer.js"></script>
</body>
</html>
