html, body {
    margin: 0;
    height: 100%;
    background: black;
    overflow: hidden;
}

/* screen */
#viewerWrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

/* presentation */
#viewer {
    width: 1280px;
    height: 720px;
    transform-origin: center center;
}
#fsBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 6px;
}

#fsBtn:hover {
    background: rgba(0,0,0,0.9);
}

.slideModeBar {
    display: none !important;
}
