html, body {
    margin: 0;
    height: 100%;
    background: black;
    overflow: hidden;
}

/* screen */
#viewerWrapper {
    position: fixed;
    inset: 0;
    background: black;
}

/* SCALE CONTAINER */
#scaleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top left;
}

/* REAL PPT SIZE */
#viewer {
    width: 1280px;
    height: 720px;
}
